body {
  --playback-logo-image: url('images/icon.png');
}
cast-media-player {
  --theme-hue: 100;
  --progress-color: rgb(0, 255, 0);
  --splash-image: url('images/icon.png');
  --splash-size: 100px 100px;
}